<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yglbs.mapper.BlogMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="blog">
        <result column="id" property="id" />
        <result column="author" property="author" />
        <result column="title" property="title"/>
        <result column="content" property="content"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        id, author, title, content
    </sql>

    <select id="getBlogById" resultMap="AllColumnMap" parameterType="int">
        select
        <include refid="all_column" />
        from tb_blog where id = #{id}
    </select>
</mapper>